<div id="sidebar">
    <div class="scrollbox">
        {% for faction in site.data.GFaction %}
            <h2><a href="{{ site.baseurl }}/Gladius/Units/{{ faction.last.internalID }}">{{ faction.first }}</a></h2>
            <ul>
            {% assign factionUnits = site.data.GUnit | where:"faction",faction.first %}
            {% for unit in factionUnits %}
                <li><a href="{{ site.baseurl }}/Gladius/Units/{{ faction.last.internalID }}/{{ unit.internalID }}">{{ unit.name }}</a></li>
            {% endfor %}
            </ul>
        {% endfor %}
    </div>
</div>