body {
    margin: 0;
}

header {
    position: sticky;
    top: 0;
    background-color: #DDD;
    padding: 15px;
}

h1 {
    text-align: center;
}

#content {
    padding: 15px
}

#main {
    text-align: center;
}