---
---
@import "gladius";

#sidebar {
    position: fixed;
    width: 250px;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    overflow: auto;
    background-color: rgba(1, 1, 1, 0.8);
}

.scrollbox {
    padding: 10px;
    h2 {
        position: sticky;
        top: 0;
        background-color: rgb(1, 1, 1);
    }
}

#main {
    position: relative;            
    margin-left: 250px;
}