<?xml version="1.0" encoding="utf-8"?>
<language>
<entry name="Achievements/AreYouTheGreatSpeaker" value="Are You The Great Speaker?"/>
<entry name="Achievements/CanLoveBeMoral" value="Can Love Be Moral?"/>
<entry name="Achievements/DidHonorBalanceGreed" value="Did Honor Balance Greed?"/>
<entry name="Achievements/DidMyDeathMeanAnything" value="Did My Death Mean Anything?"/>
<entry name="Achievements/DidOurSacrificeMeanNothing" value="Did Our Sacrifice Mean Nothing?"/>
<entry name="Achievements/DidOurUnificationMatter" value="Did Our Unification Matter?"/>
<entry name="Achievements/WasITrulyHuman" value="Was I Truly Human?"/>
<entry name="Achievements/WasPerfectionWorthIt" value="Was Perfection Worth It?"/>
<entry name="Achievements/WasZephonTrulyAlive" value="Was ZEPHON Truly Alive?"/>
<entry name="Achievements/WhatAreYou" value="What Are You?"/>
<entry name="Achievements/WhatPriceForLiberty" value="What Is The Price Of Liberty?"/>
<entry name="Achievements/WhereAreWe" value="Where Are We?"/>
<entry name="Achievements/WhyDidHumanityDieAlone" value="Why Did Humanity Die Alone?"/>
<entry name="Audio" value="Audio"/>
<entry name="Audio/AmbientVolume" value="Ambient Volume"/>
<entry name="Audio/AmbientVolumeHint" value="Regulates the ambient volume."/>
<entry name="Audio/CinematicVolume" value="Cinematic Volume"/>
<entry name="Audio/CinematicVolumeHint" value="Regulates the volume of cinematic cutscenes."/>
<entry name="Audio/EffectVolume" value="Effect Volume"/>
<entry name="Audio/EffectVolumeHint" value="Regulates the volume of effects."/>
<entry name="Audio/InterfaceVolume" value="Interface Volume"/>
<entry name="Audio/InterfaceVolumeHint" value="Regulates the volume of the interface."/>
<entry name="Audio/MasterVolume" value="Master Volume"/>
<entry name="Audio/MasterVolumeHint" value="Regulates the master volume."/>
<entry name="Audio/MusicVolume" value="Music Volume"/>
<entry name="Audio/MusicVolumeHint" value="Regulates the volume of music."/>
<entry name="Audio/MuteInBackground" value="Mute In Background"/>
<entry name="Audio/MuteInBackgroundHint" value="Mute all audio when the game window is unfocused or minimized."/>
<entry name="Audio/OutputDevice" value="Output Device"/>
<entry name="Audio/OutputDeviceHint" value=""/>
<entry name="Audio/ResponseVolume" value="Response Volume"/>
<entry name="Audio/ResponseVolumeHint" value="Regulates the volume of responses."/>
<entry name="Audio/SilenceBetweenTracks" value="Silence Between Tracks"/>
<entry name="Audio/SilenceBetweenTracksHint" value=""/>
<entry name="Controls" value="Controls"/>
<entry name="Controls/Back" value="Back (Compendium)"/>
<entry name="Controls/Cancel" value="Cancel"/>
<entry name="Controls/Cargo0" value="Cargo 1"/>
<entry name="Controls/Cargo1" value="Cargo 2"/>
<entry name="Controls/Cargo2" value="Cargo 3"/>
<entry name="Controls/Cargo3" value="Cargo 4"/>
<entry name="Controls/Cargo4" value="Cargo 5"/>
<entry name="Controls/Cargo5" value="Cargo 6"/>
<entry name="Controls/Cargo6" value="Cargo 7"/>
<entry name="Controls/Cargo7" value="Cargo 8"/>
<entry name="Controls/Cargo8" value="Cargo 9"/>
<entry name="Controls/Cargo9" value="Cargo 10"/>
<entry name="Controls/Chat" value="Chat"/>
<entry name="Controls/DismantleBuilding" value="Dismantle Building"/>
<entry name="Controls/ForceEndTurn" value="Force End Turn"/>
<entry name="Controls/Forward" value="Forward (Compendium)"/>
<entry name="Controls/LobbyAdvancedParameters" value="Show Game Lobby Advanced Parameters"/>
<entry name="Controls/LobbyBasicParameters" value="Show Game Lobby Basic Parameters"/>
<entry name="Controls/LobbyChat" value="Show Game Lobby Chat"/>
<entry name="Controls/LobbyMutators" value="Show Game Lobby Mutators"/>
<entry name="Controls/MarkTile" value="Mark Tile"/>
<entry name="Controls/NextMusicTrack" value="Next Music Track"/>
<entry name="Controls/NextTask" value="Next Task"/>
<entry name="Controls/OK" value="OK"/>
<entry name="Controls/OpenCommunicationsScreen" value="Open Communications Screen"/>
<entry name="Controls/OpenCompendiumScreen" value="Open Compendium Screen"/>
<entry name="Controls/OpenShopScreen" value="Open Shop Screen"/>
<entry name="Controls/OpenResearchScreen" value="Open Research Screen"/>
<entry name="Controls/OrderAllIdleUnits" value="Order All Idle Units"/>
<entry name="Controls/OrderAllUnits" value="Order All Units"/>
<entry name="Controls/OrderAreaUnits" value="Order Units In The Area"/>
<entry name="Controls/PlayerAction0" value="Player Action 1"/>
<entry name="Controls/PlayerAction1" value="Player Action 2"/>
<entry name="Controls/PlayerAction2" value="Player Action 3"/>
<entry name="Controls/PlayerAction3" value="Player Action 4"/>
<entry name="Controls/PlayerAction4" value="Player Action 5"/>
<entry name="Controls/PlayerAction5" value="Player Action 6"/>
<entry name="Controls/PlayerAction6" value="Player Action 7"/>
<entry name="Controls/PlayerAction7" value="Player Action 8"/>
<entry name="Controls/PlayerAction8" value="Player Action 9"/>
<entry name="Controls/PlayerAction9" value="Player Action 10"/>
<entry name="Controls/QuickLoad" value="Quick Load"/>
<entry name="Controls/QuickSave" value="Quick Save"/>
<entry name="Controls/RebuildGUI" value="Rebuild GUI"/>
<entry name="Controls/ReloadModifiedResources" value="Reload Modified Resources"/>
<entry name="Controls/SaveJPGScreenShot" value="Save JPG Screen Shot"/>
<entry name="Controls/SaveJPGScreenShotWithoutHUD" value="Save JPG Screen Shot Without HUD"/>
<entry name="Controls/SavePNGScreenShot" value="Save PNG Screen Shot"/>
<entry name="Controls/SavePNGScreenShotWithoutHUD" value="Save PNG Screen Shot Without HUD"/>
<entry name="Controls/ScrollDown" value="Scroll Down"/>
<entry name="Controls/ScrollLeft" value="Scroll Left"/>
<entry name="Controls/ScrollRight" value="Scroll Right"/>
<entry name="Controls/ScrollUp" value="Scroll Up"/>
<entry name="Controls/SelectNext" value="Select Next (Unit, City)"/>
<entry name="Controls/SelectPrevious" value="Select Previous (Unit, City)"/>
<entry name="Controls/ShowInCompendium" value="Show In Compendium"/>
<entry name="Controls/ToggleBuildingPower" value="Toggle Building Power"/>
<entry name="Controls/ToggleCliffHighlights" value="Toggle Cliff Highlights"/>
<entry name="Controls/ToggleDebugPanel" value="Toggle Debug Panel"/>
<entry name="Controls/ToggleDisplayMode" value="Toggle Display Mode"/>
<entry name="Controls/ToggleFPSDisplay" value="Toggle FPS Display"/>
<entry name="Controls/ToggleGrid" value="Toggle Grid"/>
<entry name="Controls/ToggleHUD" value="Toggle HUD"/>
<entry name="Controls/ToggleLoadScreen" value="Toggle Load Screen"/>
<entry name="Controls/ToggleMixerPanel" value="Toggle Mixer Panel"/>
<entry name="Controls/ToggleSaveScreen" value="Toggle Save Screen"/>
<entry name="Controls/ToggleSceneUpdate" value="Toggle Scene Update"/>
<entry name="Controls/ToggleSettingsScreen" value="Toggle Settings Screen"/>
<entry name="Controls/ToggleStatsScreen" value="Toggle Stats Screen"/>
<entry name="Controls/ToggleUnitOverlay" value="Toggle Unit Overlay"/>
<entry name="Controls/ToggleYieldOverlay" value="Toggle Yield Overlay"/>
<entry name="Controls/UnitAction0" value="Unit Action 1"/>
<entry name="Controls/UnitAction1" value="Unit Action 2"/>
<entry name="Controls/UnitAction2" value="Unit Action 3"/>
<entry name="Controls/UnitAction3" value="Unit Action 4"/>
<entry name="Controls/UnitAction4" value="Unit Action 5"/>
<entry name="Controls/UnitAction5" value="Unit Action 6"/>
<entry name="Controls/UnitAction6" value="Unit Action 7"/>
<entry name="Controls/UnitAction7" value="Unit Action 8"/>
<entry name="Controls/UnitAction8" value="Unit Action 9"/>
<entry name="Controls/UnitAction9" value="Unit Action 10"/>
<entry name="Controls/UnitAction10" value="Unit Action 11"/>
<entry name="Controls/UnitAction11" value="Unit Action 12"/>
<entry name="Controls/UnitAction12" value="Unit Action 13"/>
<entry name="Controls/UnitAction13" value="Unit Action 14"/>
<entry name="Controls/UnitAction14" value="Unit Action 15"/>
<entry name="Controls/UnitItem0" value="Unit Item 1"/>
<entry name="Controls/UnitItem1" value="Unit Item 2"/>
<entry name="Controls/UnitItem2" value="Unit Item 3"/>
<entry name="Controls/UnitItem3" value="Unit Item 4"/>
<entry name="Controls/UnitItem4" value="Unit Item 5"/>
<entry name="Controls/UnitItem5" value="Unit Item 6"/>
<entry name="Controls/UnitItem6" value="Unit Item 7"/>
<entry name="Controls/UnitItem7" value="Unit Item 8"/>
<entry name="Controls/UnitItem8" value="Unit Item 9"/>
<entry name="Controls/UnitItem9" value="Unit Item 10"/>
<entry name="General" value="General"/>
<entry name="General/AnimationSpeed" value="Animation Speed"/>
<entry name="General/AnimationSpeedHint" value=""/>
<entry name="General/AutoCycleUnits" value="Auto-Cycle Units"/>
<entry name="General/AutoCycleUnitsHint" value="Automatically cycle to the next idle unit."/>
<entry name="General/AutoSendReports" value="Send Usage Statistics and Crash Reports"/>
<entry name="General/AutoSendReportsHint" value="Automatically send usage statistics and crash reports to Proxy Studios to help improve the game's features, stability and performance.&lt;br/&gt;&lt;br/&gt;&lt;style color='GUI/Yellow'/&gt;Privacy is important to us. We strive to collect only what we need to improve the game for everyone. The data collected includes anonymized interactions with the game (such as the number of multiplayer connection attempts and failures, types of games started, features used, buttons clicked, and playtime) as well as anonymized technical information (such as game version and language, operating system and hardware configuration, and basic information about crashes and errors). This data is processed in accordance with the legitimate interest of providing a high-quality, reliable product; it is stored for up to 1 year and never shared with any third-parties."/>
<entry name="General/Language" value="Language"/>
<entry name="General/LanguageHint" value="Specifies the written language."/>
<entry name="General/ResetTips" value="Reset Tips"/>
<entry name="General/ResetTipsHint" value="Reset game tips so that they will be displayed again."/>
<entry name="General/ScreenShake" value="Screen Shake"/>
<entry name="General/ScreenShakeHint" value="Shake camera for explosions or large units dying on screen."/>
<entry name="General/ScrollAcceleration" value="Scroll Acceleration"/>
<entry name="General/ScrollAccelerationHint" value="Camera scroll acceleration."/>
<entry name="General/ScrollSpeed" value="Scroll Speed"/>
<entry name="General/ScrollSpeedHint" value="Camera scroll speed."/>
<entry name="General/ScrollToAction" value="Auto-Scroll to Action"/>
<entry name="General/ScrollToActionHint" value="The camera automatically scrolls to any action going on during the AI turn."/>
<entry name="General/ShowAttackArea" value="Show Attack Area"/>
<entry name="General/ShowAttackAreaHint" value="Always show the unit's attack area. When off, it can still be shown by holding Shift."/>
<entry name="General/ShowCliffHighlights" value="Show Cliff Highlights"/>
<entry name="General/ShowCliffHighlightsHint" value="Display dashed lines to highlight cliffs."/>
<entry name="General/ShowCinematics" value="Show Cinematics"/>
<entry name="General/ShowCinematicsHint" value="Display cinematic cutscenes."/>
<entry name="General/ShowGrid" value="Show Grid"/>
<entry name="General/ShowGridHint" value="Display the ground grid."/>
<entry name="General/ShowPerformance" value="Show Performance"/>
<entry name="General/ShowPerformanceHint" value="Display performance info."/>
<entry name="General/ShowSubtitles" value="Show Subtitles"/>
<entry name="General/ShowSubtitlesHint" value="Display captions at the bottom of cinematic cutscenes that translate or transcribe the dialogue and narrative."/>
<entry name="General/ShowTips" value="Show Tips"/>
<entry name="General/ShowTipsHint" value="Display helpful game tips."/>
<entry name="General/TerminateWithDisableMods" value="Disable Mods On Load Error"/>
<entry name="General/TerminateWithDisableModsHint" value=""/>
<entry name="General/TerminateWithMarkContentCorrupt" value="Mark Content Corrupt On Load Error"/>
<entry name="General/TerminateWithMarkContentCorruptHint" value=""/>
<entry name="Network" value="Network"/>
<entry name="Network/ListenPort" value="Listen Port"/>
<entry name="Network/ListenPortHint" value="TCP port to listen on for incoming connections when hosting a game."/>
<entry name="Network/PreferRelayedData" value="Prefer Relayed Data"/>
<entry name="Network/PreferRelayedDataHint" value="Instead of connecting directly to the host, relay all data through a relay server if one is available.&lt;br/&gt;&lt;br/&gt;This will increase the network latency.&lt;br/&gt;&lt;br/&gt;When turned off, data is still relayed if the initial direct connection fails.&lt;br/&gt;&lt;br/&gt;&lt;style color='GUI/Yellow'/&gt;Only use if you are experiencing connection issues and cannot resolve them otherwise."/>
<entry name="Network/RemoteAddress" value="Remote Address"/>
<entry name="Network/RemotePort" value="Remote Port"/>
<entry name="Video" value="Video"/>
<entry name="Video/AnisotropicFiltering" value="Anisotropic Filtering"/>
<entry name="Video/AnisotropicFilteringHint" value=""/>
<entry name="Video/Brightness" value="Brightness"/>
<entry name="Video/BrightnessHint" value=""/>
<entry name="Video/CloudShadows" value="Cloud Shadows"/>
<entry name="Video/CloudShadowsHint" value=""/>
<entry name="Video/Contrast" value="Contrast"/>
<entry name="Video/ContrastHint" value=""/>
<entry name="Video/DepthFog" value="Depth Fog"/>
<entry name="Video/DepthFogHint" value=""/>
<entry name="Video/DepthOfField" value="Depth of Field"/>
<entry name="Video/DepthOfFieldHint" value=""/>
<entry name="Video/Device" value="Device"/>
<entry name="Video/DeviceHint" value="&lt;style color='GUI/Red'/&gt;Changing this setting requires a game restart to take effect."/>
<entry name="Video/DisplayMode" value="Display Mode"/>
<entry name="Video/DisplayMode0" value="Fullscreen"/>
<entry name="Video/DisplayMode1" value="Windowed"/>
<entry name="Video/DisplayMode2" value="Borderless"/>
<entry name="Video/DisplayModeHint" value="Allows you to change the game's display mode. Windowed modes may cause a drop in performance.&lt;br/&gt;&lt;br/&gt;&lt;style color='GUI/Yellow'/&gt;Windowed mode may work best for recording in the native resolution."/>
<entry name="Video/Exposure" value="Exposure"/>
<entry name="Video/ExposureHint" value="Lightens or darkens the scene without affecting the graphical user interface."/>
<entry name="Video/FixedTimeOfDay" value="Fixed Time of Day"/>
<entry name="Video/FixedTimeOfDayHint" value=""/>
<entry name="Video/FixedTimeOfDayAt" value="Fixed Time of Day at"/>
<entry name="Video/FixedTimeOfDayAtHint" value=""/>
<entry name="Video/FXAA" value="Anti-Aliasing"/>
<entry name="Video/FXAAHint" value="Reduces aliasing by smoothing edges with FXAA, but may reduce performance. Relies on your graphics card's computing power."/>
<entry name="Video/Gamma" value="Gamma"/>
<entry name="Video/GammaHint" value=""/>
<entry name="Video/GUIScale" value="GUI Scale"/>
<entry name="Video/GUIScaleCustom" value="Custom: %1%%%"/>
<entry name="Video/GUIScaleHint" value="Scales the graphical user interface."/>
<entry name="Video/MaxFocusedTickrate" value="Max Focused FPS"/>
<entry name="Video/MaxFocusedTickrateHint" value=""/>
<entry name="Video/MaxMinimizedTickrate" value="Max Minimized FPS"/>
<entry name="Video/MaxMinimizedTickrateHint" value=""/>
<entry name="Video/MaxUnfocusedTickrate" value="Max Unfocused FPS"/>
<entry name="Video/MaxUnfocusedTickrateHint" value=""/>
<entry name="Video/Monitor" value="Fullscreen Monitor"/>
<entry name="Video/MonitorHint" value=""/>
<entry name="Video/MultiThreadedRendering" value="Multi-Threaded Rendering"/>
<entry name="Video/MultiThreadedRenderingHint" value="Uses multiple CPU cores for rendering, which can increase performance. Disabling this setting might remove potential visual artifacts."/>
<entry name="Video/Resolution" value="Resolution"/>
<entry name="Video/ResolutionHint" value="Allows you to change the game's display resolution. Higher resolutions will result in increased clarity, but greatly affect performance."/>
<entry name="Video/ShadowQuality" value="Shadow Quality"/>
<entry name="Video/ShadowQuality0" value="Low"/>
<entry name="Video/ShadowQuality1" value="Medium"/>
<entry name="Video/ShadowQuality2" value="High"/>
<entry name="Video/ShadowQualityHint" value="Determines the size of the shadow map used for rendering shadows. A higher shadow quality will result in more detailed shadows, but requires a more powerful graphics card."/>
<entry name="Video/TextureQuality" value="Texture Quality"/>
<entry name="Video/TextureQuality0" value="Low"/>
<entry name="Video/TextureQuality1" value="Medium"/>
<entry name="Video/TextureQuality2" value="High"/>
<entry name="Video/TextureQualityHint" value="Determines the size of textures used throughout the game. Higher texture quality will result in more detailed terrain and units, but requires more video memory (VRAM)."/>
<entry name="Video/VerticalSynchronization" value="Vertical Synchronization"/>
<entry name="Video/VerticalSynchronization-1" value="Adaptive"/>
<entry name="Video/VerticalSynchronization0" value="None"/>
<entry name="Video/VerticalSynchronization1" value="Regular"/>
<entry name="Video/VerticalSynchronizationHint" value="Synchronizes your frame rate to your monitor's refresh rate."/>
<entry name="World" value="World"/>
</language>
