---
---
<!doctype html>
<html>
    <head>
    <meta charset="utf-8">
    <title>Units - Gladius DB</title>
    </head>
    <body>
        {% include GladiusNav.html %}
        <h1>Gladius Units</h1>
        {% for faction in site.data.GFaction %}
            <h2>{{ faction.first }}</h2>
            <ul>
            {% assign factionUnits = site.data.GUnit | where:"faction",faction.first %}
            {% for unit in factionUnits %}
                <li><a href="{{ unit.internalID }}">{{ unit.name }}</a></li>
            {% endfor %}
            </ul>
        {% endfor %}
    </body>
</html>
